{% extends "base.html" %}

{% block title %}
  {{ page_title }}
{% endblock title %}

{% block content %}

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
        <h3>{{ page_title }}</h3>

        <!-- Εδώ μπαίνει ο κώδικας της φόρμας εισαγωγής νέας ταινίας με όλα τα απαραίτητα πεδία -->
        <!-- προσοχή στη δήλωση της φόρμας καθώς θα στέλνει και αρχεία (movie image) εκτός από απλά δεδομένα -->
        <!-- Επίσης θα πρέπει να μπεί βοηθητικό κείμενο στο πεδίο βαθμολογίας και έτους πρώτης προβολής (παρομοίως με τα υπόλοιπα πεδία) που -->
        <!-- θα ενημερώνει τους χρήστες ότι επιτρέπονται ακέραιοι αριθμοί από το 1 έως το 100 για το rating και από το 1888 έως το current year για το έτος πρώτης προβολής -->

        <form method="POST" enctype="multipart/form-data">
          {{ form.hidden_tag() }}

          <div class="mb-3">
            {{ form.movie_title.label(class="form-label") }}
            {{ form.movie_title(class="form-control", required=False) }}
            <div id="movie_titleHelp" class="form-text">Παρακαλώ δώστε τον τίτλο του βιβλίου - Συγγραφέα</div>
            {% if form.movie_title.errors %}
              <ul class=errors>
              {% for error in form.movie_title.errors %}
                <li class="alert text-danger">{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>


          <div class="mb-3">
            {{ form.movie_plot.label(class="form-label") }}
            {{ form.movie_plot(class="form-control", rows="5", required=False) }}
            <div id="movie_bodyHelp" class="form-text">Παρακαλώ δώστε την κριτική του βιβλίου.</div>
            {% if form.movie_plot.errors %}
              <ul class=errors>
              {% for error in form.movie_plot.errors %}
                <li class="alert text-danger">{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>


          <div class="mb-3">
                {{ form.movie_image.label(class="form-label") }}
                {{ form.movie_image(class="form-control") }}
                <div id="movie_imageHelp" class="form-text">Παρακαλώ εισάγετε μία φωτογραφία για το βιβλίο.</div>
                    {% if form.movie_image.errors %}
                    <ul class=errors>
                    {% for error in form.movie_image.errors %}
                      <li class="alert text-danger">{{ error }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
          </div>


          <div class="mb-3">
            {{ form.movie_release_year.label(class="form-label") }}
            {{ form.movie_release_year(class="form-control", required=False) }}
            <div id="movie_release_yearHelp" class="form-text">Παρακαλώ δώστε το έτος πρώτης κυκλοφορίας του βιβλίου <!--(από 1988 έως το {{current_year}}) -->.</div>
            {% if form.movie_release_year.errors %}
              <ul class=errors>
              {% for error in form.movie_release_year.errors %}
                <li class="alert text-danger">{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>


          <div class="mb-3">
            {{ form.movie_rating.label(class="form-label") }}
            {{ form.movie_rating(class="form-control", required=False) }}
            <div id="movie_ratingHelp" class="form-text">Παρακαλώ βαθμολογήστε το βιβλίο με έναν βαθμό από το 1 έως το 100.</div>
            {% if form.movie_rating.errors %}
              <ul class=errors>
              {% for error in form.movie_rating.errors %}
                <li class="alert text-danger">{{ error }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="mb-3">
              {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>


    </div>
  </div>
</div>



{% endblock content %}